body{
    background-color: #000000;
    color: lightblue;
    font-size: 28px;
}
.main{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.board{
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 40px;
    border: 1px solid lightgray;
    min-height: 60px;
    font-family: 'Roboto Mono', monospace;
    color: aliceblue;
}

.alphabet{
    min-height: 280px;
    width: 46%;
    text-align: center;
    border: 1px solid lightgray;
   margin: auto;
    
    
}

.graphics{
    float: right;
    min-height: 280px;
width: 46%;
text-align: center;
border: 1px solid lightgray;
margin: auto;

}

.letter{
    font-size: 24px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 2px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 10px;

}
.letter:hover{
   width: auto;
   height: auto;
    background-color: #222222;
    color: white;
    border:3px solid white
}
.corectStr{
    font-size: 24px;
    width: auto;
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 5px;
    float: left;
    border-radius: 10px;
    background-color :green;
    cursor :default;
     border:2px solid white;
    color:white;
}
.faulStr{
    font-size: 24px;
    width: auto;
    height: auto;
    text-align: center;
    padding: 5px;
    margin: 5px;
    float: left;
    border-radius: 10px;
    background-color :red;
    cursor :default;
     border:2px solid white;
    color:white;
}


@media screen and (min-width: 450px) {

    .main{
        max-width: 100%;
        
    }
.board{max-width: 100%;
   
}

.letter{
width: 20px;
height: 29px;

}
.alphabet{
    max-height:20px ;
    padding: 0px;
    margin: 0px;

}
.graphics{
    max-height:20px ;
    padding: 0px;
    margin: 0px;

}
}